<h2><%= @current_word %> (<%= @part_of_speech %>)</h2>
<h4>Definition:</h4>
<p><%= @definition %></p>
<% if !@custom_definitions.empty? %>
  <h4>Custom Definitions:</h4>
  <% @custom_definitions.each do |definition| %>
    <%= definition %>
  <% end %>
<% end %>


<br>
<h4>Add a custom definition:</h4>
<form action='/<%= @current_word %>' method='post'>
  <div class='form-group'>
    <input name='definition' class='form-control' type='text'/><br>
    <button type='submit' class='btn btn-primary'>Add</button>
  </div>
</form>
